body{
    background-image: url(https://i.ytimg.com/vi/FSiDypWfUdY/maxresdefault.jpg);
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}
div{
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 10%;
    border-radius: 10px;
    width: 50%;
    position: absolute;
    left: 25%;
    
}
 h1{
    text-shadow: 2px 1px 10px rgb(8, 8, 8);
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 1px 10px rgb(8, 8, 8);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    
}
button{
    font-family: sans-serif;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.555);
    padding: 10px;
    margin: 10px;
}